* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    color: #5D5D7D;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container-left {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;

}

header {
    text-align: center;
    margin-top: 20px;
}

a:nth-child(2) {
    opacity: 0.4;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p {
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
}

.link {
    font-size: 28px;
    line-height: 41px;
    cursor: pointer;
    margin-right: 41px;
}

img {
    width: 400px;
    Height: 450px;
    position: relative;
    top: 25%;
    right: 115px;
}

.container-right {
    display: inline-block;
    width: 60%;
    padding-left: 136px;
    margin-top: 10%;

}

button {
    width: 269px;
    height: 62px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    background-color: rgba(93, 93, 125, 0.85);
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #5D5D7D;
}

button:active {
    opacity: 0.4;
}

@media screen and (max-width: 900px) {
    .container-right {
        display: block;
        height: 50%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;

    }

    button {
        margin: 0 auto;
        display: block;

    }
}

@media screen and (max-width: 900px) {
    .container-left {
        display: block;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        position: static;
        padding: 40px;
       
    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

}

@media screen and (max-width: 300px) {
    .container-right {
        height: 70%;
    }
     }